@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/*@import "compass/reset";*/
html, body, .container, .row, .main {
  min-height: 100%;
}

html, body, .container {
  height: 100%;
}

body {
  font-family: georgia, 'open sans', sans-serif;
  font-size: 15px;
  line-height: 23px;
}

h1, h2 {
  font-family: 'Vollkorn', castellar, sans-serif;
  letter-spacing: 0px;
  font-size: 40px;
  text-align: center;
}

h2.site-title {
  letter-spacing: 10px;
  text-align: center;
}

h3 {
  font-size: 20px;
  backgroud:#DCDCDC;
}

h5 {
  font-size: 16px;
}

a, a:hover, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

/*a {
  border-bottom: 1px solid #ccc;
}*/

h1 a, h2 a {
  text-decoration: none;
  border-bottom: none;
}

.dropcap {
    font-family:georgia, sans-serif;
    color: #000;
    font-size: 42px;
    float: left;
    font-weight:bold;
    margin-right:5px;
    line-height: 1em;
    position: relative;
}

/* Alignment */
.alignleft {
 display: inline;
 float: left;
}
.alignright {
 display: inline;
 float: right;
}
.aligncenter {
 clear: both;
 display: block;
 margin:auto;
 margin-bottom: 10px;
margin-top: 10px;
}

.container {
  width: 100%;
  margin: 0px;
}


*, *:before, *:after {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
#gal {
  position:relative;
  width:600px;
  height:300px;
  margin-bottom:10px; 
  margin-left:auto;
  margin-right:auto;
  background:white;
  -webkit-box-shadow:0 0 10px #000;
  -moz-box-shadow:0px 0px 10px #000;
  box-shadow:0px 0px 10px #000;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:   translate3d(0, 0, 0);
  -ms-transform:    translate3d(0, 0, 0);
  -o-transform:     translate3d(0, 0, 0);
  transform:        translate3d(0, 0, 0);
}
#gal:after {
  content:'';
  position:absolute;
  bottom:24px;
  right:0;
  left:0;
  width:100%;
  height:1px;
  background:rgba(255,255,255,0.35);
  z-index:3;
}
#gal ul {list-style-type:none;}
input[type="radio"], input[type="radio"] + label {
  position:absolute;
  bottom:10px;
  display:block;
  width:20px;
  height:20px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  cursor:pointer;
}
input[type="radio"] {
  opacity:0;
  z-index:9;
}
input[value="one"], input[value="one"] + label {left:20px;}
input[value="two"], input[value="two"] + label {left:128px;}
input[value="three"], input[value="three"] + label {left:236px;}
input[value="four"], input[value="four"] + label {left:344px;}
input[value="five"], input[value="five"] + label {left:452px;}
input[value="six"], input[value="six"] + label {right:20px;}
input[type="radio"] + label {
  background:rgba(255,255,255,0.35);
  z-index:7;
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,0.15);
  -moz-box-shadow:0px 0px 0px 0px rgba(255,255,255,0.15);
  box-shadow:0px 0px 0px 0px rgba(255,255,255,0.15);
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -o-transition:all .3s;
  transition:all .3s;
}
[class*="entypo-"]:before {
  position:absolute;
  font-family: 'entypo', sans-serif;
}
figure[class*="entypo-"]:before {
  left:10px;
  top:5px;
  font-size:2rem;
  color:rgba(255,255,255,0);
  z-index:1;
  -webkit-transition:color .1s;
  -moz-transition:color .1s;
  -o-transition:color .1s;
  transition:color .1s;
}
a[class*="entypo-"]:before {
  top:8px;
  left:9px;
  font-size:1.5rem;
  color:white;
}
a:hover[class*="entypo-"]:before {
  color:white;
}
figure, figure img, figcaption {
  position:absolute;
  top:0;
  right:0;
}
figure {
  bottom:0;
  left:0;
  width:600px;
  height:300px;
  display:block;
  overflow:hidden;
}
figure img {
  bottom:0;
  left:0;
  display:block;
  width:600px;
  height:300px;
  z-index:1;
  -webkit-transform:translateX(600px);
  -moz-transform:translateX(600px);
  -ms-transform:translateX(600px);
  -o-transform:translateX(600px);
  transform:translateX(600px);
  -webkit-transition:all .15s .15s, z-index 0s;
  -moz-transition:all .15s .15s, z-index 0s;
  -o-transition:all .15s .15s, z-index 0s;
  transition:all .15s .15s, z-index 0s;
}
figcaption {
  display:block;
  width:270px;
  height:300px;
  padding-top:20px;
  background-image:radial-gradient(rgba( 255,255,255,0.3), transparent);
  background-size:600px 600px;
  background-repeat:no-repeat;
  background-position:-300px -150px;
  text-align:center;
  z-index:3;
  -webkit-box-shadow:-5px 0px 20px rgba(0,0,0,0.1);
  -moz-box-shadow:-5px 0px 20px rgba(0,0,0,0.1);
  box-shadow:-5px 0px 20px rgba(0,0,0,0.1);
  -webkit-transform:translateX(300px);
  -moz-transform:translateX(300px);
  -ms-transform:translateX(300px);
  -o-transform:translateX(300px);
  transform:translateX(300px);
  -webkit-transition:all .35s;
  -moz-transition:all .35s;
  -o-transition:all .35s;
  transition:all .35s;
}
h4 {
  /*display:inline-block;*/
  margin:15px 0 10px 0;
  background:#DCDCDC;
  padding:5px 0 5px 0;
  font-family: georgia,'Titillium Web', sans-serif;
  font-weight:900;
  font-size:17.5px;
}
figcaption nav ul {display:block;padding-top:10px;}
figcaption nav ul li {display:inline-block;margin-left:5px;}
figcaption nav ul li a {
  position:relative;
  display:block;
  width:40px;
  height:40px;
  background:rgba(255,255,255,0.2);
  text-decoration:none;
  color:white;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  -webkit-box-shadow:inset 0px 0px 0px 0px rgba(255,255,255,0);
  -moz-box-shadow:inset 0px 0px 0px 0px rgba(255,255,255,0);
  box-shadow:inset 0px 0px 0px 0px rgba(255,255,255,0);
  -webkit-transition:all .15s;
  -moz-transition:all .15s;
  -o-transition:all .15s;
  transition:all .15s;
}
figcaption nav ul li a:hover {
  background:rgba(255,255,255,0);
  -webkit-box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,1);
  -moz-box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,1);
  box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,1);
}
figcaption p {
  padding:30px 15px;
  font-family:georgia, 'Titillium Web', sans-serif;
  font-weight:300;
  color:#333;
}
 
input[type="radio"]:hover + label {
  background:rgba(255,255,255,0.6);
}
input[type="radio"]:checked + label {
  background:rgba(255,255,255,1);
  -webkit-box-shadow:0px 0px 0px 5px rgba(255,255,255,0.3);
  -moz-box-shadow:0px 0px 0px 5px rgba(255,255,255,0.3);
  box-shadow:0px 0px 0px 5px rgba(255,255,255,0.3);
}
input[type="radio"]:checked + label:before {}
input[type="radio"]:checked ~ figure img {
  z-index:2;
  -webkit-transform:translatex(0px);
  -moz-transform:translatex(0px);
  -ms-transform:translatex(0px);
  -o-transform:translatex(0px);
  transform:translatex(0px);
  -webkit-transition:all .15s, z-index 0s;
  -moz-transition:all .15s, z-index 0s;
  -o-transition:all .15s, z-index 0s;
  transition:all .15s, z-index 0s;
}
input[type="radio"]:checked ~ figure[class*="entypo-"]:before {
  z-index:3;
  color:rgba(255,255,255,0.5);
  -webkit-transition:color .5s;
  -moz-transition:color .5s;
  -o-transition:color .5s;
  transition:color .5s;
}
input[type="radio"]:checked ~ figure figcaption {
  z-index:8;
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  -ms-transform:translateX(0px);
  -o-transform:translateX(0px);
  transform:translateX(0px);
  -webkit-transition:all .35s, .7s;
  -moz-transition:all .35s, .7s;
  -o-transition:all .35s, .7s;
  transition:all .35s, .7s;
}

/* span.block {
    display: block;
}
span.margin-div-inner {
    margin-left: 20px;
    font-size: 13px;
    border-left: 5px solid #306AA0;
    padding-left: 14px;
}
span.margin-div-inner img {
  margin: 0; padding: 0; border: 0 none;
} */

span.highlight
{
background-color:black;
}

#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 0em;
    top: -1em;
    background: white;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    /*-webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;*/
/*    text-align: right; */
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto; 
    z-index: 200;
}

#table-of-contents h2 {
    font-size: 9pt;
/*    max-width: 8em; */
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em; 
}

#table-of-contents ul {
    margin-left: 14pt; 
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}

@media screen
{
  #table-of-contents {
    float: right;
   /* border: 1px solid #CCC;*/
    max-width: 50%;
    overflow: auto;
  }
}

#customers
  {
  text-align:center;
  font-family:georgia,"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:70%;
  border-collapse:collapse;
  margin:0 auto 10px;
  }

#customers td, #customers th 
  {
  font-size:1em;
  border:none;
  padding:3px 7px 2px 7px;
  }

#customers th 
  {
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#444444;
  color:#ffffff;
  }

#customers tr.alt td 
  {
  color:#000000;
  background-color:#AEAEAE;
  }

#customers tr:hover
  {
  color:#ffffff;
  background-color:#696969;
  }

#customers tr.alt:hover > td
  {
  color:#ffffff;
  background-color:#696969;
  }

#index .post {
  margin-left: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

#index .post:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.paging {
  padding: 20px 0px;
}

.highlight pre {
  margin: 10px 0px;
}

#bottom {
  text-align: center;
  border-top: 4px solid;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
#bottom .well {
  margin-bottom: 0px;
}

#bottom, .main {
  width: inherit;
  margin-left: 320px;
}

.row {
  position: relative;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 40px;
}

.sidebar {
  top: 0px;
  bottom: 0px;
  border-right: 4px solid;
}
.sidebar li {
  list-style: none;
}
.sidebar p {
  margin: 10px 0px 20px 0px;
  text-align: center;
}

.quote {
  background-color: transparent;
  border: none;
}

.cite {
  font-family:&#x534E;&#x6587;&#x6977;&#x4F53;;
  font-size:14px;
  margin:20px 0 20px 60px;
}

innote {
  font-size:10px;
  -webkit-transform:scale(1);
  /*display:inline-block;
  margin-left:-1px;
  margin-right:-1px;*/
}

.well {
  background-color: transparent;
  border: none;
}

#links {
  /*margin: 0px 0px 0px -20px;*/
}
#links li {
  display: inline;
  padding: 0px 10px;
}

#navigation li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  border-bottom: solid 2px #969696;
  /* border-top: solid; */
}
#navigation li:hover {
  text-decoration: none;
  border-style: none;
  border-bottom: solid 2px;
  color: white;
  background: #777;
}
#navigation a {
  border: none;
  border-radius:0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 5px 10px;
  /* border-bottom:solid 1px #ddd; */
  color: #969696;
  font-weight: bold;
  font-size: 110%;
}
#navigation a:hover {
  border-style: none;
  color: #000;
}

@media (max-width: 767px) {
  .sidebar.affix {
    position: relative;
    text-align: center;
    border-right: none;
    width: 100%;
    margin: auto;
  }
  .sidebar.affix .well {
    padding: 0px;
    margin-left: 20px;
  }
  .sidebar.affix #navigation, .sidebar.affix #links {
    margin: 0px 0px 0px -20px;
  }
  .sidebar.affix #navigation li, .sidebar.affix #links li {
    display: inline;
    padding: 0px;
  }
  .sidebar.affix #navigation {
    margin: 20px auto;
  }
  .sidebar.affix #navigation li.archives {
    display: none;
  }
  .sidebar.affix p {
    margin-left: 0px;
  }

  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main {
    border: none;
    padding-right: 0px;
    margin-left: 0px;
    border-top: solid 4px;
  }

  #bottom {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

  #bottom, .main {
    width: auto;
  }
}