<!DOCTYPE html>
<html lang="en"><head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>YUXINGZHE - Home </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=">
  <meta name="y_key" content="6c948e75a617b12d">
  <meta name="technorati-claim" content="8QN7CWNH8BSJ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" href="/photobox/styles.css">
  <link rel="stylesheet" href="/photobox/photobox.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src='/photobox/photobox.js'></script>
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="YUXINGZHE's blog">
  <style type="text/css"></style>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
  <script src="http://www.google-analytics.com/ga.js"
  async="true"></script>
<!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
</head>

<body class="blog">
  <div class="container">
    <div class="row">
      <div class="span4 sidebar affix" /*style="background-image:
      url(https://ltccyq.blu.livefilestore.com/y2p9z-JnHXIKVdHWefFjKr-lh4RBOyDxCPmDHIG5gpEl_Vv7_MzF3tNp0IzxD0PJGJjYayOwiL2jxPqKvUwcOzCCA-NLVMwD7I9EUzlc5mw0xg/sidebg.png?psid=1);background-position:50%
      50%;
      background-repeat:no-repeat;"*/style="background-image:url(/images/antje.gif);background-position:bottom
      left;background-repeat:no-repeat;">
        <div class="well">
          <h1 class="site-title">
            <a href="http://YUXINGZHE.github.com" style="font-family:
            castellar, sans-serif;">YUXINGZHE</a>
          </h1>

          <p><a href="javascript:void(0)">A BLOG ABOUT</a> <a href="#end">MY WORK AND THINGS.</a></p>

          <form class="navbar-search" method="get" action="http://www.google.com/search" target="google_window">
              <input id="g_search" type="text" class="search-query"
                     placeholder="SEARCH..." name="q"
                     style="height:38px; width:296px;">
              <input type="submit" name="btnG" style="display:none" id="searchsubmit" value="Search">
              <input type="hidden" name="ie" value="UTF-8">
              <input type="hidden" name="oe" value="UTF-8">
              <input type="hidden" name="hl" value="zh-CN">
              <input type="hidden" name="domains" value="http://yuxingzhe.github.io/">
              <input type="hidden" name="sitesearch" value="http://yuxingzhe.github.io/">
            </form>


          <ul id="navigation" class="clearfix">
            <li class="about"><a href="/about/">ABOUT</a></li>
            <li class="archives"><a href="/archives/">ARCHIVES</a></li>
            <li class="tags"><a href="/tags/">TAGS</a></li>
           <!-- <li class='categories'><a href='/categories/'>CATEGORIESS</a></li> -->
            <li class="github"><a href="http://github.com/YUXINGZHE" rel="me" class="url">GITHUB</a></li>
          <!--   <li class="twitter"><a href="http://twitter.com/johnduff" rel="me" class="url">YUXINGZHE</a></li> -->
          </ul>
        </div>
      <div class="quote">
        <!-- style="background-image:url(/images/pautin.gif);
           background-position:bottom right;background-repeat:no-repeat;" -->
  <script type="text/javascript" src="/quotes.js">
  </script>
</div></div>
      <div class="span8 main offset4">  
        <div class="well">
          {{ content}}
        </div>
      </div>

      <div id="bottom" class="span8 offset4">
        <div class="well">
          <a href="/about/"><a name="end">ABOUT</a></a> |
          <a href="/archives/">ARCHIVES</a> |
          <a href="/atom.xml">FEED</a>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>


  <!-- Google Analytics Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46393074-1', 'auto');
  ga('send', 'pageview');

</script>



</body></html>
