<!DOCTYPE html>
<html lang="en"><head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>YUXINGZHE - Home </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=">
  <meta name="y_key" content="6c948e75a617b12d">
  <meta name="technorati-claim" content="8QN7CWNH8BSJ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" href="/photobox/styles.css">
  <link rel="stylesheet" href="/photobox/photobox.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src='/photobox/photobox.js'></script>
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="YUXINGZHE's blog">
<style type="text/css"></style><script src="http://www.google-analytics.com/ga.js" async="true"></script></head>

<body class="blog">
  <div class="container">
    <div class="row">
      <div class="span4 sidebar affix">
        <div class="well">
          <h2 class="site-title">
            <a href="http://YUXINGZHE.github.com">YUXINGZHE</a>
          </h2>

          <p>A BLOG ABOUT DD AND THINGS.</p>

          <form class="navbar-search" method="get" action="http://www.google.com/search" target="google_window">
              <input id="g_search" type="text" class="search-query" placeholder="SEARCH..." name="q">
              <input type="submit" name="btnG" style="display:none" id="searchsubmit" value="Search">
              <input type="hidden" name="ie" value="UTF-8">
              <input type="hidden" name="oe" value="UTF-8">
              <input type="hidden" name="hl" value="zh-CN">
              <input type="hidden" name="domains" value="http://yuxingzhe.github.io/">
              <input type="hidden" name="sitesearch" value="http://yuxingzhe.github.io/">
            </form>


          <ul id="navigation" class="clearfix">
            <li class="about"><a href="/about/">ABOUT</a></li>
            <li class="archives"><a href="/archives/">ARCHIVES</a></li>
            <li class="tags"><a href="/tags/">TAGS</a></li>
           <!-- <li class='categories'><a href='/categories/'>CATEGORIESS</a></li> -->
            <li class="github"><a href="http://github.com/YUXINGZHE" rel="me" class="url">GITHUB</a></li>
            <li class="twitter"><a href="http://twitter.com/johnduff" rel="me" class="url">YUXINGZHE</a></li>
          </ul>
        </div>
      <div class="quote">
  <script type="text/javascript" src="/quotes.js">
  </script>
</div></div>
      <div class="span8 main offset4">  
        <div class="well">
          {{ content}}
        </div>
      </div>

      <div id="bottom" class="span8 offset4">
        <div class="well">
          <a href="/about/">ABOUT</a> |
          <a href="/archives/">ARCHIVES</a> |
          <a href="/atom.xml">FEED</a>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>


  <!-- Google Analytics Code -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9947336-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
          'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
    })();

  </script>



</body></html>
